
header {
   background-color: black;
    
}

#videoId {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1 ;

}



h1 {
    font-family: 'Handlee', cursive;
    font-size: 70px;
    color: white;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 29px;
    color: white;
    text-align: center;

}

#navbar-example2 {
    font-family: 'Handlee', cursive;
    font-size: 29px;
    background-color: aqua;
    color: black;

}

img {
    margin: 40px;
    float: left;
    
}

.main {
    width: 90%;
    margin: 40px;
    padding: 20px;
    padding-bottom: 50px;
    min-height: 100%;
    background: rgba(192, 181, 181, 0.5);
    position: relative;
    text-align: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.PortfolioPic {
    
    z-index: 1;
    position: relative;
    margin: 75px;
    height: 250px;
    width: 250px;
    float: left;
    
    
}

#overlay {
    Position: relative;
    Width: 300px;
    Height: 60px;
    bottom: 0;
    opacity: .5;
    background: #203534;
    z-index: 2;
    margin: 20px;
    padding: 20px;
    padding-right: 40px;
    margin-left: 10px;
    margin-top: 180px;

}

.textoverlay {
    Position: absolute;
    width: 250px;
    Height: 40px;
    top: 10px;
    text-align: center;
    z-index: 3;
    color: white;
    margin-top: 300px;
    font-size: 20px;
    margin: 10px;
    
}
#last {
    clear:both;
    margin: 50px;

}
.col-sm {
    height: 250px;
    margin-bottom: 60px;
}
.row {
    height: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 4;
}

.tooltip1:hover .tooltiptext1 {
    visibility: visible;
}
.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 4;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}

.tooltip3 .tooltiptext3 {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 4;
}

.tooltip3:hover .tooltiptext3 {
    visibility: visible;
}

.tooltip4 .tooltiptext4 {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 4;
}

.tooltip4:hover .tooltiptext4 {
    visibility: visible;
}

.tooltip5 .tooltiptext5 {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 4;
}

.tooltip5:hover .tooltiptext5 {
    visibility: visible;
}

.tooltip6 .tooltiptext6 {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 4;
}

.tooltip6:hover .tooltiptext6 {
    visibility: visible;
}

#icons {
    height: 50px;
    width: 50px;
    margin: 20px;
}

#iconic {
    width: 90%;
    margin: 40px;
    padding: 20px;
    padding-bottom: 50px;
    min-height: 100%;
    background: rgba(192, 181, 181, 0.5);
    align-items: center;
}
#about {
    background: rgba(192, 181, 181, 0.5); 
    width: 90%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 40px;
    padding: 20px;
    padding-bottom: 50px;
    min-height: 100%;
}